extends layouts/main-layout 

block styles
        link(rel="stylesheet", href="/css/product.css")
        link(rel="stylesheet", href="/css/forms.css")

block content
    main 
        form.product-form(action="/admin/product", method="POST")
            .form-control 
                label(for = "productTitle") Product Title
                input(type="text" name="productTitle" id="productTitle")
                label(for="productPrice") Product Price 
                input(type="text" name="productPrice" id="productPrice") 
            button.btn(type="submit") Add Product